.env
data/audio/intron/*/*.wav
data/*/*/*.wav
data/audio/intron/*/*/*.wav
data/audio/intron/*/*/*.wav
data/audio/chews/*/*.wav
notebooks/*.ipynb
notebooks/*.txt
notebooks/*.csv
temp_chunks/*.wav
scripts/models/__pycache__/*